<meta charset="utf-8">
h1 { 
  color: white !important;
  margin: 0 0 0 15px; 
  padding: 0;
  font-size: 40px;
}
h2 { color: white !important }
h3 { color: white !important } 
@font-face {
    font-family: "mark";
    src: url("https://static.miraheze.org/soshirenmeiwiki/0/03/Mark_my_words.ttf");  format('ttf');
}
.mark {
    font-family: "mark";
}
@font-face {
    font-family: "kudou";
    src: url("https://static.miraheze.org/soshirenmeiwiki/a/aa/KUDOU.TTF");  format('ttf');
}
.kudou {
    font-family: "kudou";
}
/* ヘッダー*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background: url(https://static.miraheze.org/soshirenmeiwiki/thumb/3/37/FNH_world_map_2021_%E5%9B%BD%E5%90%8D%E3%81%AA%E3%81%97.svg/640px-FNH_world_map_2021_%E5%9B%BD%E5%90%8D%E3%81%AA%E3%81%97.svg.png);
  background-color: #ffffc7;
  font-family: "游ゴシック", sans-serif;
}
header {
  width: 100%;
  height:15%;
  padding: 30px 4% 10px;
  position: fixed;
  background-color: #b3b38d;
  top: 0;
  display: flex;
  align-items: center;
}
a { 
  text-decoration: none;
  color: white;
  margin: 0 0 0 15px;
}
ul.pc-nav {
  list-style: none;
  margin: 0;
  display: flex;
}
li.pc-nav {
  margin: 0 0 0 15px;
  font-size: 25px;
}
nav {
   margin: 0 0 0 auto;
}
.logo{
  width 15px;
  height 6px;  
}
/* 中身*/
.content {
  width: auto;
  height: 100vh;
  margin: 150px 20px 0 20px;
}
.block {
  padding: 0.5em 1em;
  margin: 2% 0;
  color: white;/*文字色*/
  background: #b3b38d;
  border: solid 3px white;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.underheader {
  height: 2%;
}
.overfooter {
  height: 11%;
}
.around-block {
  overflow:hidden
}
.left-block {
  float: left;
  width: 49%; /* 要素の幅を50%に定義 */
  padding: 0.5em 1em;
  margin: 1% 1% 1% 0;
  color: white;/*文字色*/
  background: #b3b38d;
  border: solid 3px white;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.right-block {
  float: right;
  width: 49%; /* 要素の幅を50%に定義 */
  padding: 0.5em 1em;
  margin: 1% 0 1% 1%;
  color: white;/*文字色*/
  background: #b3b38d;
  border: solid 3px white;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.aroundpic {
  overflow:hidden
}
.leftpic {
  float: left;
}
.rightpic {
  float: right;
}
table.info {
  padding: 0.5em 1em;
  margin: 2% 0;
  color: white;/*文字色*/
  background: #b3b38d;
  border: solid 3px white;/*線*/
  border-radius: 10px;/*角の丸み*/
}
th.info {
  width:30%;
  text-align:center;
}
ul.nation {
  list-style: none;
  margin: 0;
}
li.nation {
  margin: 0;
  font-size: 20px;
}
footer {
  width: 100%;
  height:10%;
  padding: 10px 0 10px;
  background-color: #b3b38d;
  position: fixed;
  bottom: 0;
  display: flex;
}
.footer { 
  text-decoration: none;
  color: white;
  margin: 10 0 0 0;
  text-align: center;
}
