<meta charset="utf-8">
h1 { 
  color: white !important;
  margin: 0 0 0 15px; 
  padding: 0;
  font-size: 40px;
}
h2 { color: white !important }
h3 { color: white !important } 
@font-face {
    font-family: "mark";
    src: url("https://static.miraheze.org/soshirenmeiwiki/0/03/Mark_my_words.ttf");  format('ttf');
}

.mark {
    font-family: "mark";
}
/* ヘッダー*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background: url(1280px-FNH_world_map_2021.svg);
  background-color: #ffffc7;
  font-family: "游ゴシック", sans-serif;
}
header {
  width: 100%;
  padding: 30px 4% 10px;
  position: fixed;
  background-color: #b3b38d;
  top: 0;
  display: flex;
  align-items: center;
}
a { 
  text-decoration: none;
  color: white;
  margin: 0 0 0 15px;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 25px;
}
nav {
   margin: 0 0 0 auto;
}
.logo{
  width 15px;
  height 6px;  
}
/* 中身*/
.content {
  width: auto;
  height: 100vh;
  margin: 150px 20px 0 20px;
}
.block {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: white;/*文字色*/
  background: #b3b38d;
  border: solid 3px white;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.overfooter {
  height: 10em;
}
footer {
  width: 100%;
  padding: 10px 0 10px;
  background-color: #b3b38d;
  position: fixed;
  bottom: 0;
  display: flex;
}
.footer { 
  text-decoration: none;
  color: white;
  margin: 10 0 0 0;
  text-align: center;
}
